<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static.menu/js/js/js1"></script>

</head>
<body>
<span th:if="${ session.get('listBaseResult') == null }" >
<!--<span th:if="${BaseResult == null }" >-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.location.href='http://192.168.1.45:8081/api/v1/menu/listmenu';
    /*]]>*/
</script>
</span>

hello!
<span th:if="${session.get('listBaseResult') != null }" >
    <a href = "http://192.168.1.45:8081/addmenu.html">新增</a>
<table align='center' border='1' cellspacing='0'>
    <tr>
        <td>菜单id</td>
        <td>菜单名</td>
        <td>URL</td>
        <td>编辑</td>
        <td>删除</td>
    </tr>
    <tr  th:each="menu:${session.get('listBaseResult').data}">
        <td th:text="${menu.menuId}" th:id="${menu.menuId}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.url}"></td>
<!--        <td><a href = "http://192.168.1.45:8081/modifyMenu.html?1">编辑</a></td>-->
        <td><a th:href="@{/templates/modifyMenu.html?(id=${menu.menuId})}">编辑</a></td>
<!--        <td><a th:href="@{/api/v1/menu/delete/(id=${menu.menuId})}" th:onclick="deleteFunction(${menu.menuId})">删除</a></td>-->
        <td>
            <a href="#" onclick="deleteFunction(this)" th:id="${menu.menuId}">删除</a>
        </td>
    </tr>
</table>
    <script language="JavaScript">
        function deleteFunction(en){
            var menuId=en.id;
            alert(en.id);
            alert(menuId);

            var url="http://192.168.1.45:8081/api/v1/menu/delete/"+menuId;


            $.ajax({
                url: url,
                type: "get",
                async: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                // data:JSON.stringify(dataTest),
                // data: {
                //     id:parseInt(menuId)
                // },
                dataType: "json",
                success: function (data) {
                    if (data.code == 0){
                        window.location.href='http://192.168.1.45:8081/api/v1/menu/listmenu';
                    }else
                    {
                        alert(data.msg);
                    }
                },
                error: function (e) {
                    alert("错误！！");
                }
            });
            //window.location.href='http://192.168.1.45:8081/menu.html';

        }
</script>
</span>
</body>
</html>