<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxk.study.mapper.SysMenuMapper">
<!--    <resultMap id="SysMenuDTOMap" type="com.zxk.study.module.dto.SysMenuDTO">-->
<!--        <id column="menu_id" property="menu_id"></id>-->
<!--    </resultMap>-->

 <select id="selectOne" parameterType="com.zxk.study.module.dto.SysMenuDTO" resultType="com.zxk.study.module.dto.SysMenuDTO">
            select 
                          menu_id,
                          parent_id AS parentId,
                          name AS name,
                          url AS url,
                          icon AS icon,
                          create_user_id AS createUserId,
                          create_time AS createTime,
                          update_time AS updateTime,
                          delete_flag AS deleteFlag
              from sys_menu
                        <where>
                          <if test="menu_id != null">
                              and menu_id = #{menu_id}
                          </if>
                          <if test="parentId != null">
                              and parent_id = #{parentId}
                          </if>
                          <if test="name != null">
                              and name = #{name}
                          </if>
                          <if test="url != null">
                              and url = #{url}
                          </if>
                          <if test="icon != null">
                              and icon = #{icon}
                          </if>
                          <if test="createUserId != null">
                              and create_user_id = #{createUserId}
                          </if>
                          <if test="createTime != null">
                              and create_time = #{createTime}
                          </if>
                          <if test="updateTime != null">
                              and update_time = #{updateTime}
                          </if>
                          <if test="deleteFlag != null">
                              and delete_flag = #{deleteFlag}
                          </if>
                        </where>
                        Limit 1
 </select>
<!--    <select id="selectAll" parameterType="com.zxk.study.module.dto.SysMenuDTO" resultType="com.zxk.study.module.dto.SysMenuDTO">-->
 <select id="selectAll" parameterType="com.zxk.study.module.dto.SysMenuDTO" resultType="com.zxk.study.module.dto.SysMenuDTO">
            select
                          menu_id,
                          parent_id AS parentId,
                          name AS name,
                          url AS url,
                          icon AS icon,
                          create_user_id AS createUserId,
                          create_time AS createTime,
                          update_time AS updateTime,
                          delete_flag AS deleteFlag
              from sys_menu
                        <where>
                          <if test="menu_id!= null">
                              and menu_id = #{menu_id}
                          </if>
                          <if test="parentId != null">
                              and parent_id = #{parentId}
                          </if>
                          <if test="name != null">
                              and name = #{name}
                          </if>
                          <if test="url != null">
                              and url = #{url}
                          </if>
                          <if test="icon != null">
                              and icon = #{icon}
                          </if>
                          <if test="createUserId != null">
                              and create_user_id = #{createUserId}
                          </if>
                          <if test="createTime != null">
                              and create_time = #{createTime}
                          </if>
                          <if test="updateTime != null">
                              and update_time = #{updateTime}
                          </if>
                          <if test="deleteFlag != null">
                              and delete_flag = #{deleteFlag}
                          </if>
                        </where>
 </select>

 <insert id="insert" parameterType="com.zxk.study.module.dto.SysMenuDTO"   useGeneratedKeys="true" keyProperty="menu_id" >
       insert into sys_menu (parent_id,name,url,icon,create_user_id,delete_flag)
       values (#{parentId},#{name},#{url},#{icon},#{createUserId},#{deleteFlag})
 </insert>

 <update id="update" parameterType="com.zxk.study.module.dto.SysMenuDTO">
       update sys_menu set 
              <if test="parentId != null">parent_id=#{parentId},</if>
              <if test="name != null">name=#{name},</if>
              <if test="url != null">url=#{url},</if>
              <if test="icon != null">icon=#{icon},</if>
              <if test="createUserId != null">create_user_id=#{createUserId},</if>
              <if test="deleteFlag != null">delete_flag=#{deleteFlag}</if>
                              <!--update_time: 乐观锁，以第一个修改为准;且只能用主键id更新！-->
                  where menu_id=#{menu_id} and update_time = #{updateTime}
 </update>

 <update id="delete" parameterType="com.zxk.study.module.dto.SysMenuDTO">
       update sys_menu set delete_flag=1 
                              <!--update_time: 乐观锁，以第一个修改为准;且只能用主键id更新！-->
                  where menu_id=#{menu_id}
 </update>


</mapper>
