<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysRoleMenuMapper">

 <select id="selectOne" parameterType="com.example.module.dto.SysRoleMenuDTO" resultType="com.example.module.dto.SysRoleMenuDTO">
            select 
                          id AS id,
                          role_id AS roleId,
                          menu_id AS menuId,
                          query_authority AS queryAuthority,
                          create_authority AS createAuthority,
                          update_authority AS updateAuthority,
                          delete_authority AS deleteAuthority,
                          create_user_id AS createUserId,
                          create_time AS createTime,
                          update_time AS updateTime,
                          delete_flag AS deleteFlag
              from sys_role_menu
                        <where>
                          <if test="id != null">
                              and id = #{id}
                          </if>
                          <if test="roleId != null">
                              and role_id = #{roleId}
                          </if>
                          <if test="menuId != null">
                              and menu_id = #{menuId}
                          </if>
                          <if test="queryAuthority != null">
                              and query_authority = #{queryAuthority}
                          </if>
                          <if test="createAuthority != null">
                              and create_authority = #{createAuthority}
                          </if>
                          <if test="updateAuthority != null">
                              and update_authority = #{updateAuthority}
                          </if>
                          <if test="deleteAuthority != null">
                              and delete_authority = #{deleteAuthority}
                          </if>
                          <if test="createUserId != null">
                              and create_user_id = #{createUserId}
                          </if>
                          <if test="createTime != null">
                              and create_time = #{createTime}
                          </if>
                          <if test="updateTime != null">
                              and update_time = #{updateTime}
                          </if>
                          <if test="deleteFlag != null">
                              and delete_flag = #{deleteFlag}
                          </if>
                        </where>
                        Limit 1
 </select>

 <select id="selectAll" parameterType="com.example.module.dto.SysRoleMenuDTO" resultType="com.example.module.dto.SysRoleMenuDTO">
            select 
                          id AS id,
                          role_id AS roleId,
                          menu_id AS menuId,
                          query_authority AS queryAuthority,
                          create_authority AS createAuthority,
                          update_authority AS updateAuthority,
                          delete_authority AS deleteAuthority,
                          create_user_id AS createUserId,
                          create_time AS createTime,
                          update_time AS updateTime,
                          delete_flag AS deleteFlag
              from sys_role_menu
                        <where>
                          <if test="id != null">
                              and id = #{id}
                          </if>
                          <if test="roleId != null">
                              and role_id = #{roleId}
                          </if>
                          <if test="menuId != null">
                              and menu_id = #{menuId}
                          </if>
                          <if test="queryAuthority != null">
                              and query_authority = #{queryAuthority}
                          </if>
                          <if test="createAuthority != null">
                              and create_authority = #{createAuthority}
                          </if>
                          <if test="updateAuthority != null">
                              and update_authority = #{updateAuthority}
                          </if>
                          <if test="deleteAuthority != null">
                              and delete_authority = #{deleteAuthority}
                          </if>
                          <if test="createUserId != null">
                              and create_user_id = #{createUserId}
                          </if>
                          <if test="createTime != null">
                              and create_time = #{createTime}
                          </if>
                          <if test="updateTime != null">
                              and update_time = #{updateTime}
                          </if>
                          <if test="deleteFlag != null">
                              and delete_flag = #{deleteFlag}
                          </if>
                        </where>
 </select>

 <insert id="insert" parameterType="com.example.module.dto.SysRoleMenuDTO"   useGeneratedKeys="true" keyProperty="id" >
       insert into sys_role_menu (role_id,menu_id,query_authority,create_authority,update_authority,delete_authority,create_user_id,delete_flag)
       values (#{roleId},#{menuId},#{queryAuthority},#{createAuthority},#{updateAuthority},#{deleteAuthority},#{createUserId},#{deleteFlag})
 </insert>

 <update id="update" parameterType="com.example.module.dto.SysRoleMenuDTO">
       update sys_role_menu set 
              <if test="roleId != null">role_id=#{roleId},</if>
              <if test="menuId != null">menu_id=#{menuId},</if>
              <if test="queryAuthority != null">query_authority=#{queryAuthority},</if>
              <if test="createAuthority != null">create_authority=#{createAuthority},</if>
              <if test="updateAuthority != null">update_authority=#{updateAuthority},</if>
              <if test="deleteAuthority != null">delete_authority=#{deleteAuthority},</if>
              <if test="createUserId != null">create_user_id=#{createUserId},</if>
              <if test="deleteFlag != null">delete_flag=#{deleteFlag}</if>
                              <!--update_time: 乐观锁，以第一个修改为准;且只能用主键id更新！-->
                  where id=#{id} and update_time = #{updateTime}
 </update>

 <update id="delete" parameterType="com.example.module.dto.SysRoleMenuDTO">
       update sys_role_menu set delete_flag=1 
                              <!--update_time: 乐观锁，以第一个修改为准;且只能用主键id更新！-->
                  where id=#{id} 
 </update>


</mapper>
